.header-space {
    margin-bottom: 60px;
}

.space-x {
    margin-left: auto;
    margin-right: auto;
    width: 1px;
    height: 1px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.page-name {
    margin-top: auto;
    margin-bottom: auto;
}
