.vfl {
    display: flex;
    flex-direction: row;
}

.mru {
    margin-right: auto;
}

.mlu {
    margin-left: auto;
}

.mc20 {
    margin-left: 20px;
    margin-right: 20px;
}

.alcenter {
    height: fit-content;
    text-align: center;
    padding: 30px;
}

.ctitle {
    font-size: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.cvalue {
    font-size: 45px;
}

.clink {
    color: #111827;
    text-decoration-line: underline;
}

.gap {
    width: 24px;
}


.menu {
    width: calc(18rem + 18rem + 24px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.hidden{
    padding-top: 24px;
    display: flex;
    flex-direction: column-reverse;
}